body{
    background-color: brown;
}
.fieldset{
    background-color: rgb(214, 230, 230);
    height: 90vh;
    width: 100%;
}
.container{
    border-radius: 8px;
    align-items: center;
    justify-content: center;
} 
  label {
    font-weight: 1px;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], textarea {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 2px;
    
  }
  input[type="text"]:hover {
    background-color: #fff;
  }
  select[name="code"]:hover {
    background-color: #fff;
  }
  select[name="code"]{
    width: 70px;
    padding: 1px;
    margin-bottom: 1px;
  }
  